shell_scripts/*

*.pyc

*.pickle

*.ipynb_checkpoints*

*.npy

*.pkl

*.log

*.png

*.jpg

__pycache__/*

.idea/*

!
/assets/*
results/
datasets/
*=9.0*
models/temp*.py
models/tmp*.py
sanity_batch_generator.py
*.nii.gz

temp/

cuda_functions/*